VITE_SHEET_ID=1I5XdnEV7itd4el7KhhnW6Vy-8fpPf0TQ3bOXREo5KOk
VITE_SHEET_NAME=
# Alternatively provide a direct CSV URL
# VITE_DATA_CSV_URL=https://example.com/otsego_broadband.csv
VITE_MAP_STYLE_URL=https://basemaps.cartocdn.com/gl/positron-gl-style/style.json